
 .sideBar .MuiTabs-root{min-height: 100%;}
 .sideBar .MuiTabs-root .MuiTabs-flexContainer{height: 100%;}
 .sideBar .MuiTabs-root .MuiTab-wrapper {
    width: 100%;
    display: flex;
    align-items: normal;
    flex-direction: row;
    justify-content: normal;
    white-space: nowrap;
}
.sideBar .MuiTabs-flexContainer {
    display: flex;
    flex-direction: column;
}
.sideBar .MuiTabs-fixed {
    width: 100%;
    overflow-x: initial !important;
    overflow: initial !important;
}
.sideBar.MuiPaper-root {
    background-color: #fff;
    border-right:1px solid #ccc;
    box-shadow: 0px 2px 14px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}
.sideBar .MuiTab-labelIcon.MuiTab-root{
    min-height: 50px;
    padding:6px 26px;
}
.sideBar .MuiTab-fullWidth {
    flex-grow: initial;
    max-width: none;
    flex-basis: initial;
    flex-shrink: initial;
}
.justify-center{justify-content: center;}

.sideBar .MuiTab-textColorSecondary{color:#2e3f50 !important;text-decoration: none;}
.sideBar .MuiTab-textColorSecondary:hover .MuiTab-wrapper{color:#ff7a59 !important;}
.sideBar .MuiTab-textColorSecondary.Mui-selected{
    color:#ff7a59 !important;
}

img.text-center{padding:15px 0px;width:198  px;}
.noBorderRadius.MuiPaper-rounded{border-radius: 0px;}
.userGrid .makeStyles-root-140{justify-content: flex-end;}
.sideBar .MuiSvgIcon-root {
    fill:#2e3f50;
    width: 25px;
    margin-right: 25px;}
    .sideBar .MuiTab-textColorSecondary.Mui-selected .MuiTab-wrapper .MuiSvgIcon-root{fill:#ff7a59;}
    .sideBar .MuiTab-textColorSecondary:hover .MuiTab-wrapper .MuiSvgIcon-root{fill:#ff7a59;}
    .sideBar.MuiPaper-root{width: 75px; transition: width 0.5s;padding-top:15px;margin-top: 1px;}
    .sideBar.MuiPaper-root:hover{width: 230px;}
    a.MuiListItem-button{color:#333 !important;}


   .QuoteTab .MuiTab-fullWidth {
     flex-grow: inherit; 
        max-width: auto;
         flex-basis: inherit;
        flex-shrink: inherit;
        min-width: auto;
        padding:6px 0px 6px 0px;
        margin-right:25px;
        text-transform:capitalize;
        font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    color:#2e3f50 !important;text-decoration: none;
    }
   .QuoteTab .MuiTabs-flexContainer{border-bottom: 1px solid #ccc;;}
    .QuoteTab .MuiTab-textColorSecondary.Mui-selected{color:#03a9f4 !important;}
     .QuoteTab .PrivateTabIndicator-colorSecondary-326 {
        background-color: #ff7a59;
    }
    .QuoteTab .MuiTab-fullWidth .MuiTab-wrapper {     
        align-items: baseline;        
    }
     /* .dx-datagrid-headers {
        color: #c2cad0 !important;
        background-color: #2e3f4f !important;
        height: 30pt;
    } 
      .dx-datagrid .dx-row-alt > td  {
        background-color: #23c6c8;
    }
 
      .dx-datagrid .dx-data-row {  
        background-color: #ffffff;  
        color: #2a96a7;  
        height: 30pt;
        
      }
       .dx-widget{  
        font-size: 15px;
      } */
 .dx-datagrid-borders > .dx-datagrid-filter-panel,.dx-datagrid-borders > .dx-datagrid-headers,
.dx-datagrid-borders > .dx-datagrid-pager {
border: none !important;
background: #2e3f50 !important;
color: #fff !important;
line-height: 34px !important;
border-radius: 4px !important;
}



.dx-datagrid .dx-column-lines > td {
border-left: none !important ;
border-bottom: 1px solid #e1e1e1 !important;
line-height: 35px !important;
border-right: none !important;
border-left: none !important;
}



.dx-datagrid {
color: #0091ae !important;
background-color: #fff !important;
}


.dx-datagrid-content .dx-datagrid-table .dx-row > td,
.dx-datagrid-content .dx-datagrid-table .dx-row > tr > td {
vertical-align: middle !important;
}



.dx-texteditor.dx-editor-outlined {
border: 2px solid #6dc7c1 !important;
border-radius: 20px !important;
}

.numberft{
  padding:"16px 14px";
}


/* .main {
background: #f5f8fa !important;
} */
    