/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
} */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  
  color: #111;
  font-size: 0.9rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif
}

a {
  color: #ff6f61 !important
}

a:hover {
  color: #ff6f61 !important
}

#login-form {
  color: rgba(118, 118, 118);
}
h1 {
  font-weight: 600;
  font-size: 32px
}
h2 {
  font-weight: 600;
  font-size: 28px
}
h3 {
  font-weight: 600;
  font-size: 23px
}
h4 {
  font-weight: 600;
  font-size: 20px
}
.btn {
  font-weight: 600 !important
}

.text-info {
  color: #111 !important
}

.btn-info {
  background: #060606 !important;
  border: 1px solid #060606
}

.btn-info:hover {
  background: #060606 !important;
  border: 1px solid #060606
}

.form-control {
  font-size: 0.9rem;
  border-color: #e5e5e5 !important;
}
.main{
  display: flex;
  width: 100%;
  min-height: calc(100% - 71px);
  align-items: stretch;
}
.field .MuiButton-containedPrimary {
  color: #fff;
  background-color: #ef5350;
}
#root .MuiButton-containedPrimary {
  color: #fff;
  background-color: #ff7a59;
}
.mainContent{padding:25px 0px;}
.sidebar {
  width: 70px;
}

.sidebar {
  background-color: #fff;
  bottom: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  /* width: 280px; */
  z-index: 1000;
}
.MuiOutlinedInput-input {
  padding: 18.5px 14px;
  background: #edf3f6;
}
.radio-row .MuiFormGroup-root{flex-direction: row;}
.MuiFormLabel-root h4{color:#03a9f4;}
.Quotemain{padding:50px 100px 50px 0px;}
.Quotemain h4{color:#03a9f4;font-weight: 500;margin-top:10px;}
.Quotemain .field .MuiGrid-root.MuiGrid-item {
  margin-bottom: 25px;
}
.radio-row .MuiRadio-colorSecondary.Mui-checked {
  color: #2e3f50;
}
.mailingcheck  .MuiCheckbox-colorSecondary.Mui-checked {
  color: #2e3f50;
}
.mailingcheck{text-align: right;}
.mailingcheck .MuiFormControlLabel-root{margin-right: 0;}
.revenuecheck  .MuiCheckbox-colorSecondary.Mui-checked {
  color: #2e3f50;
}
.revenuecheck{text-align: left;}
.revenuecheck .MuiFormControlLabel-root{margin-left: 0;}
.Quotemain .field .MuiGrid-root.MuiGrid-item.MuiGrid-grid-md-4{width:33.33%;}
.addBtnAlign{align-items: center;}
.field .MuiTypography-body1{color:#2e3f50}
.layoutsplit{position: relative;}
.layoutsplit.layout1 .btn-box{position: static;width:auto;    height: 50px;
  margin-top: 18px;}
.btn-box{position: absolute;top: 18px;
  right: -108px;
  width: 100px;}
.btn-box .MuiButton-root.MuiButton-contained{
  border-radius: 50%;
  min-width: 43px;
  padding: 5px 0px;
    background-color: #ff5858;
}
.description textarea{width:100%;height:250px;padding:10px;background:#f4f8fe;}
/* .description textarea{width:100%;height:96px;padding:10px;background:#f4f8fe;} */
.field .layoutsplit.layout1 .MuiGrid-root.MuiGrid-item{margin-bottom: 25px;}
.btn-box .MuiButton-root.MuiButton-contained.mr10{margin-right:4px;}
.btn-box .MuiButton-root.MuiButton-contained .MuiSvgIcon-root {
  fill: #fff;
  font-size: 2.3em;}
.MuiButtonBase-root.MuiButton-root.MuiButton-contained.addlegalBtn{
  height: 38px;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: -14px;
    margin-bottom: 20px;
}
.MuiInputBase-input{background:#f4f8fe;}
.MuiOutlinedInput-root{background:#f4f8fe;}
.datePicker .MuiFormControl-marginNormal{margin-top:0px;margin-bottom: 0px;}
.datePicker .MuiInputBase-input{padding:18.5px 14px}
.datePicker label + .MuiInput-formControl{margin-top: 0;    background: #f4f8fe;}
.datePicker .MuiInputLabel-formControl {
  transform: translate(14px, 20px) scale(1);z-index: 1;
  background: #fff;
}
.datePicker .MuiInputLabel-formControl.MuiInputLabel-shrink {
  transform: translate(14px, -6px) scale(0.75);
}
.datePicker .MuiInput-underline:before {
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0 8px;
  content: "\00a0";
  border-radius: 3px;
  position: absolute;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 1px solid rgba(0, 0, 0, 0.23);
  pointer-events: none;
  z-index: 0;
}
.datePicker .MuiInput-underline:hover:not(.Mui-disabled):before {
  border: 1px solid rgba(0, 0, 0, 0.87);
}
.datePicker .MuiInput-underline:after {
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0 8px;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  border: 2px solid #3f51b5;
  pointer-events: none;
  border-radius:4px;
}
.datePicker .MuiInput-underline.Mui-focused:after{transform: none;}
.datePicker .MuiInput-underline.Mui-error:after {
  transform: scaleX(1);
  border-color: #f44336;
}
.coverageMain{margin-bottom: 20px;}
.btn-group .MuiButton-contained{
  font-size: 16px;
    padding: 8px 0px;
    min-width: 140px;
    background: #fff;
    border: 2px solid #ff7a59 ;
    color:#ff7a59;
    box-shadow: none;margin-right:15px;
}
.btn-group .MuiButton-contained.MuiButton-containedPrimary{
  font-size: 16px;
    padding: 8px 0px;
    min-width: 140px;
    background: #ff7a59;
    color:#fff;
    border: 2px solid #ff7a59 ;
    box-shadow: none;
}
.MuiButton-contained.hi{pointer-events: none;opacity: 0.6;}
.coverageMain .MuiFormControlLabel-root{border: 1px solid #ccc;
  min-width: 150px; 
  /* height: 100px; */
  box-shadow: 0px 0px 6px #ccc;
  padding: 6px 14px;
  min-height: 42px;
  margin-bottom: 20px;
  border-radius: 55px;
  flex-direction: row-reverse;
  margin-left: 0;
  justify-content: space-between;}
  .coverageMain .MuiFormControlLabel-root .MuiTypography-body1{font-size: 12px;}
  .coverageMain .MuiFormGroup-root{flex-direction: row;margin-bottom: 25px;}
  .coverage{padding:35px 100px 50px 0px}
  .policy_coverage{padding:35px 0px 50px 0px}
  .makeStyles-stepper-31{width: 100%;}
  .coverageMain h4{
color: #03a9f4;
  font-weight: 500;margin-bottom: 35px;
  margin-top: 10px;}
 .coverageMain .MuiCheckbox-colorSecondary .MuiIconButton-label .MuiSvgIcon-root{display: none;}
  .coverageMain .Mui-checked .MuiIconButton-label:after, .coverageMain .MuiCheckbox-colorSecondary.Mui-checked .MuiIconButton-label:after{ 
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
    width: 26px;
    height: 26px;
    background: green;
    color: #fff;
    border-radius: 50%;
    line-height: 26px;
 
 } 
 .coverageMain .MuiFormControlLabel-root .MuiButtonBase-root{padding: 0px;    margin-left: 20px;margin-right: -6px;
  width: auto;}
  .coverageMain .MuiFormControlLabel-root .MuiButtonBase-root.MuiCheckbox-root{width:auto;margin-right: -6px;}
 /* .coverageMain .MuiRadio-root div svg{display: none;} */
 .newSubmission{text-align: right;}
 .newSubmission .select{width:200px;margin-top:20px;}
 .statusP{font-size: 18px;
  color: #2e3f50;
  margin-bottom: 0;}
  .coverageMain .MuiAppBar-colorDefault {
    color: rgba(0, 0, 0, 0.87);
    background-color: #fff;
    box-shadow: none;
}

.coverageMain .MuiTabs-root.stepper .MuiTabs-flexContainer:after{z-index:0;content:"";border-bottom:1px solid #aeaeae;position: absolute;width:100%;left:0px;top:10px;}
.coverageMain .MuiTabs-root.stepper .MuiTab-root{min-width: auto;}
.coverageMain .MuiTabs-root.stepper .MuiTab-root:before{
content:"";
width:20px;height:20px;border-radius:50%;background: #2e3f50;position: absolute;
top: 0px;z-index:1;
}
.coverageMain .MuiTabs-root.stepper .MuiTab-root.Mui-selected:before{background: #ff7a59;}
.coverageMain .MuiTabs-root.stepper .MuiTab-root:after{z-index:0;
  content:"";border-bottom:1px solid #aeaeae;position: absolute;width:100%;left:0px;top:10px;
}
.coverageMain .MuiTabs-root.stepper .MuiTab-root .MuiTab-wrapper{padding-top:20px;color: #2e3f50;font-weight: normal;
  text-transform: capitalize;}
  .coverageMain .MuiTabs-root.stepper .MuiTabs-indicator{display: none;}
  .dx-datagrid-borders > .dx-datagrid-filter-panel, .dx-datagrid-borders > .dx-datagrid-headers, .dx-datagrid-borders > .dx-datagrid-pager{border-radius: 0 !important;}
  .table{
    width:100%;
  }
  .auto-table table{width:100%;}
  .auto-table table thead{background: #2e3f50;
    color: #fff;}
    .auto-table table thead th{padding: 15px;
      font-weight: normal;}
      .auto-table table tr td {text-align: left;vertical-align: middle; padding:12px 15px;color:#00a3ed;}
      .actionItems span{display: inline-block;
        background: #ededed;
        padding: 2px;
        margin-right: 5px;
    cursor: pointer;
    }
  .table table{width:100%;}
  .auto-table table tr{border-bottom: 1px solid #ccc;
    box-shadow: 0px 3px 3px #ccc;}
  .innerTable{width:100%;}
  .table table .innerTable td{border:0px;padding:0px;}
  .table table .innerTable .MuiFormGroup-root{flex-direction: row;justify-content: space-between;margin-bottom: 15px;}
  .table table thead{background: #2e3f50;
    color: #fff;
    text-transform: capitalize;
}
  .table table thead th{padding:15px;border:0px;}
  .table table tbody{border:1px solid #333;}
  .table table tbody td{padding:15px;border:0px;}
  td .MuiSvgIcon-root{fill: #2e3f50;}
  td .MuiFormControlLabel-root .MuiIconButton-root{padding:0px 5px;}
  .table table tbody td:last-child{vertical-align: middle;}
  .table table tbody td:nth-child(1), .table table tbody td:nth-child(2){border-right:1px solid #333;}
  .table table tbody td .innerTable td:nth-child(1), .table table tbody td .innerTable td:nth-child(2){border-right:0px solid #333;}
  .table table tbody tr td {
    vertical-align: middle;
    
  }
 .buldingModal .MuiDialog-paperWidthSm {
    max-width: inherit;
}
.buldingModal .MuiDialog-paperScrollPaper{max-height: inherit;}
.buldingModal .MuiDialogActions-root{text-align: left;}
 .buldingModal .MuiDialogActions-root .btn-group{width:100%}
 .accordian {width: 100%;}
 .accordian .MuiAccordionSummary-root{background: #2e3f50;color:#fff;}
 .accordian .MuiSvgIcon-root{float: right;}
 .accordian p{width: 100%;}
 .accordian .MuiAccordionSummary-expandIcon{color: #fff;}
 .table table{width:100%;}
 .row-radio .MuiFormGroup-root {
  flex-direction: row;
}
.radioField{display: flex;}
.radioField .field1{width: 100%;}
.radioField .field2{width: 290px;}
.OtherField .Ofield1{width: 50%;}
.OtherField .Ofield2{width: 50%;}
/* .buildingTable table tbody tr td:nth-child(2){width: 33%;}
.buildingTable table tbody tr td:nth-child(3){width: 10%;}
.buildingTable table tbody tr td:nth-child(4){width: 10%;} */
.coverageMain.propertyCheck .MuiFormGroup-root {
   margin-bottom: 0px;
}
.policy_coverage .accordian {margin-bottom: 10px;}
.coverageMain.propertyCheck .MuiFormControlLabel-root{margin-bottom: 0px;margin-top: 10px;}
.coverageMain.propertyCheck .MuiFormControlLabel-root ~ .accordian {margin-top:15px;}
.clrBlue{
  color: #03a9f4;
    font-weight: 500;
    margin-top: 10px
}
.custom-file-upload {
  /* color: transparent;padding:0px 70px; */
  color: transparent;padding:0px 275px 70px;
}
.custom-file-upload::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-upload::before {
  content: 'Upload your file';
  display: inline-block;
  color:#2e3f50;
  padding-bottom: 5px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
 font-weight: bold;
  font-size: 16px;
  margin-left: -199px;
  width: 0px;
}
.custom-file-upload::after {
  content: 'DOC, PDF, JEPG, PNG Format Only';
  color:#8d8d8d;
  display: inline-block;
  padding-top: 5px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  /* border-top: 1px solid #8d8d8d; */
  border-top: 1px solid #020202;
  border-bottom: 1px solid #020202;
  border-right: 1px solid #020202;
  border-left: 1px solid #020202;
  font-size: 16px;
  width: 250px;
}
.custom-file-upload:hover::before {
  border-color: black;
}
.custom-file-upload:active {
  outline: 0;
}
.custom-file-upload:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}
.fileUpload{position: relative;margin:30px 0px 70px 0px}
.fileUpload button{
  position: absolute;
    left: 0;
    border-radius: 50%;
    height: 60px;
}
.addVehicle .MuiGrid-spacing-xs-3 > .MuiGrid-item {
  padding: 7px;
}
.addVehicle .MuiInputLabel-outlined {
  z-index: 1;
  transform: translate(14px, 14px) scale(1);
  pointer-events: none;
}
.addVehicle .MuiOutlinedInput-input {
  padding: 13px 14px;
}
h6.clrred {color:#ff5858;margin-bottom: 0px;}
.accordian .MuiButton-containedPrimary[name="ADD VEHICLE"]{float:right;}
.closeIcon{float:right;}
.line{border-top:1px solid #ccc;}

.dx-editor-container .dx-texteditor.dx-editor-outlined {
  border: 0px solid #6dc7c1 !important;
  border-radius: 0 !important;
  }
  .dx-datagrid.dx-filter-menu .dx-menu-item-content .dx-icon {
  width: 14px;
  height: 14px;
  background-position: 0 0;
  background-size: 14px 14px;
  padding: 0;
  font-size: 18px;
  text-align: center;
  line-height: 0px;
  margin-top: -9px;
  position: relative;
  top: -6px;
  }
  tbody .dx-datagrid-filter-row .dx-menu {
  z-index: 1;
  position: absolute;
  top: 2px;}
  .dx-editor-with-menu .dx-filter-menu.dx-menu .dx-menu-item .dx-menu-item-content {
  padding: 3px 5px 7px;
  }
  .dx-editor-with-menu .dx-filter-menu.dx-menu{height:98%;}
  .WrappedColumnClass {  
    white-space: normal;  
    word-wrap: break-word;  
}
.numberft{
  padding:"16px 14px"
}
/*style={{padding:"16px 14px" , background: "#f4f8fe",border: "1px solid rgba(0, 0, 0, 0.23)",fontSize: "1rem",color: "rgba(0, 0, 0, 0.87)",borderRadius:"4px",width:"100%" }} */